replicaCount: 2
environment: dev

image:
  repository: ghcr.io/stefanprodan/podinfo
  tag: "6.5.3"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9898

rollout:
  enabled: true
  strategy: canary
  canary:
    steps:
      - setWeight: 20
      - pause:
          duration: 30s
      - setWeight: 50
      - pause:
          duration: 30s
      - setWeight: 100
  blueGreen:
    autoPromotionEnabled: false
    previewReplicaCount: 1

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
