apiVersion: v1
kind: Service
metadata:
  name: flink-jobmanager
  namespace: predictive-analytics
spec:
  selector:
    app: flink-jobmanager
  ports:
    - name: ui
      port: 8081
      targetPort: 8081
    - name: rpc
      port: 6123
      targetPort: 6123
    - name: blob
      port: 6124
      targetPort: 6124
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-jobmanager
  namespace: predictive-analytics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink-jobmanager
  template:
    metadata:
      labels:
        app: flink-jobmanager
    spec:
      containers:
        - name: jobmanager
          image: flink:1.17.2-scala_2.12-java11
          args: ["jobmanager"]
          ports:
            - containerPort: 8081
            - containerPort: 6123
            - containerPort: 6124
          env:
            - name: FLINK_PROPERTIES
              value: |
                jobmanager.rpc.address: flink-jobmanager
