replicaCount: 1

image:
  repository: platform-portal
  tag: latest
  pullPolicy: IfNotPresent

containerPort: 8080

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  hosts: []

resources: {}

env:
  - name: PORT
    value: "8080"
  - name: JENKINS_URL
    value: "http://jenkins:8080"
  - name: VAULT_ADDR
    value: "http://vault:8200"
  - name: PROMETHEUS_URL
    value: "http://prometheus:9090"
  - name: GRAFANA_URL
    value: "http://grafana:3000"
