apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-demo-green
  namespace: cicd-demo
  labels:
    app: cicd-demo
    color: green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cicd-demo
      color: green
  template:
    metadata:
      labels:
        app: cicd-demo
        color: green
    spec:
      containers:
        - name: app
          image: cicd-demo:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: cicd-demo-env
          env:
            - name: RELEASE_COLOR
              value: green
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 20
