apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: cloud-native-ecommerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: cn-order-service:latest
          ports:
            - containerPort: 8000
          env:
            - name: DB_PATH
              value: /data/orders.db
            - name: PRODUCT_SERVICE_URL
              value: http://product-service:8000
            - name: KAFKA_BOOTSTRAP
              value: kafka:9092
            - name: KAFKA_TOPIC_ORDERS
              value: orders
            - name: KAFKA_TOPIC_PAYMENTS
              value: payments
            - name: RABBITMQ_URL
              value: amqp://guest:guest@rabbitmq:5672/
            - name: PAYMENT_QUEUE
              value: payment.requests
          volumeMounts:
            - name: data
              mountPath: /data
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
      volumes:
        - name: data
          emptyDir: {}
