apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: cloud-native-ecommerce
spec:
  selector:
    app: product-service
  ports:
    - name: http
      port: 8000
      targetPort: 8000
  type: ClusterIP
