version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "maven"
    directory: "/api"
    schedule:
      interval: "weekly"
  - package-ecosystem: "maven"
    directory: "/flink"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/api"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/flink"
    schedule:
      interval: "weekly"
