environment: dev
replicaCount: 1

image:
  tag: "6.5.3"

rollout:
  enabled: true
  strategy: canary
  canary:
    steps:
      - setWeight: 10
      - pause:
          duration: 30s
      - setWeight: 50
      - pause:
          duration: 30s
      - setWeight: 100
